.entity-page {
  // padding: 2rem;
  height: 100%;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
  }

  &__search {
    max-width: 30rem;
  }

}