.widget-count {
  padding: 1rem 1.5rem;

  &__label {
    font-size: 0.95rem;
    text-transform: uppercase;
    color: hsl(209, 81%, 51%);
    font-weight: 700;
  }

  &__value {
    font-size: 2rem;
    font-weight: 600;
  }
}