.layout {
  width: 100%;
  height: 100%;

  &__menu {
    border-bottom: 1px solid var(--border-color);

    .container {
      justify-content: flex-start !important;
    }

    a {
      border: 1px solid var(--border-color);
      padding: 0.5rem 1rem;
      min-width: 100px;
      margin: 0 1rem;
    }
  }

  &__page-title {
    font-size: 1.25rem;
    text-transform: uppercase;
    border-left: 0.25rem solid indigo;
    padding-left: 0.5rem;
    margin-bottom: 2rem;
  }

  &__content {
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    padding: 2rem 0;
  }
}